@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Amsterdam4';
    src: url('/src/fonts/Amsterdam.ttf');
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@layer base {
   body {
       @apply font-[Raleway];
       @apply text-[#2a145b];
       @apply bg-[#dfeff4]
   } 
   li {
       @apply px-4;
       @apply cursor-pointer;
   }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    width: 300px
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        #7562a1,
        #2a145b
    )!important;
}